# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# env files
.env
.env.local
.env.production

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# logs
*.log

# pre-commit hooks
.husky/

.vscode/
.firebase/

google-services.json
GoogleService-Info.plist
