# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# pnpm
pnpm-debug.log*
.pnpm-debug.log*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Next.js
.next/
out/
next-env.d.ts

# Firebase
.firebase/
firestore-debug.log
firebase-debug.log
firebase-debug.*.log

# Functions build output
packages/functions/lib/

# Firebase emulator data
firebase-data/
emulator-data/

# Firebase service account files
google-services.json
GoogleService-Info.plist

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo

# generated native folders
apps/mobile/ios
apps/mobile/android

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# IDE
.vscode/

# production build
/build

# testing
/coverage

# misc
*.pem
*.local
*.http

# vercel
.vercel

# TypeScript v1 declaration files
typings/
